.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    margin-left: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.numberButtons{
    border-radius: 50%;
    width: 130px;
    border-color: rgb(12, 52, 128);
    margin: 20px;
    box-shadow: 0 6px 0px 0px black;
    background-color:rgb(12, 52, 128);
    color: white;
    padding: 5%;
    font-size: 4rem;
}  

.operatorButtons{
    border-radius: 50%;
    width: 130px;
    color: white;
    padding: 5%;
    font-size: 4rem;
    margin: 20px;
    box-shadow: 0 6px 0px 0px black;
    background-color: rgb(122, 199, 230); 
    border-color:  rgb(122, 199, 230);
}

.specialButtons{
    border-radius: 50%;
    width: 130px;
    color: white;
    padding: 5%;
    font-size: 4rem;
    margin: 20px;
    box-shadow: 0 6px 0px 0px black;
    background-color: rgb(63, 104, 156); 
    border-color: rgb(63, 104, 156);
}